
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/images/metinfo.css" />

<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/css/success.css" />

<!--自动跳转js-->
<script type="text/javascript" src="__PUBLIC__/Admin/js/jquery.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/js/skip.js"></script>

</head>

<body>

	<div class="metinfotop">
		<div class="position">简体中文：后台管理 > <a href="javascript:void(0)">添加管理员</a>
		</div>
	</div>
	<div class="clear"></div>
<if condition="$status eq 1"> 
	<div class="main">
		<div class="suc">
			<p class="suc_alert"><img src="__PUBLIC__/Admin/images/suc.png">信息添加成功！ <span id = "skip"><b class="jump">3</b> 秒钟后自动跳转回信息列表...</span></p>
			<p>【<a href="check">信息列表</a>】【<a href="add">继续添加</a>】</p>
		</div>
	</div>
	<script>skip("{:U('Admin/index')}");</script>
<else />
<div class="stat_list">
	<ul>
		<li class="now"><a href="javascript:void(0)" title="基本信息">基本信息</a></li>
	</ul>
</div>
<form method="POST" name="myform" action="{:U('Admin/edit')}">
	<table cellpadding="2" cellspacing="1" class="table">
	    <tr> 
	        <td class="text"><span class="bi_tian">*</span>管理员名称：</td>
	        <td class="input"><input required="required" name="adminName" disabled="true" type="text" class="text" value="{$admin['username']}"/></td>
	    </tr>
	    <tr> 
	        <td class="text"><span class="bi_tian">*</span> 原 密 码 ：</td>
	        <td class="input"><input required="required" name="password_old" type="password" class="text" /></td>
	    </tr>
	    <tr>
	        <td class="text"><span class="bi_tian">*</span> 新 密 码 ：</td>
	        <td class="input"><input required="required" name="password_new" type="password" class="text" /></td>
	    </tr>
	    <tr>
	        <td class="text"><span class="bi_tian">*</span> 重复 密码：</td>
	        <td class="input"><input required="required" name="password_new_reply" type="password" class="text" /></td>
	    </tr>

		<tr> 
	        <td class="text"></td>
		    <td class="submit">
				<input type="submit" value="保存" class="submit"/>	
			</td>
	    </tr>
	    <input type="hidden" name="id" value="{$admin['id']}" />
	</table>
</form>
</if>
</body>
</html>