<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>网站管理系统</title>
    <link href="__PUBLIC__/Admin/images/metinfo.css" rel="stylesheet"/>
</head>

<script type="text/javascript" src="__PUBLIC__/Admin/images/jQuery1.7.2.js"></script>
<script type="text/javascript" src="__PUBLIC__/Admin/images/cookie.js"></script>
<script type="text/javascript">
    function kzqie(my) {
        if (my.text() == '宽版') {
            $('#metcmsbox').css('width', '100%');
            $.ajax({url: 'include/config.php?lang=cn&met_kzqie=1', type: "POST"});
            my.attr('title', '切换到窄版');
            my.text('窄版');
        } else {
            $('#metcmsbox').css('width', '1000px');
            $.ajax({url: 'include/config.php?lang=cn&met_kzqie=0', type: "POST"});
            my.attr('title', '宽版');
            my.text('宽版');
        }
    }
</script>
<body id="indexid">
<div id="metcmsbox">
    <div id="top">
        <div class="floatr">
            <div class="top-r-box">
                <div class="top-right-boxr">
                    <div class="top-r-t">
                        您好
                        <a href="{:U('Admin/edit',array('aid'=>$_SESSION['admin']['aid']))}" target='main' id="mydata"
                           title="编辑 {$_SESSION['admin']['adminMsg']['adminName']} 的个人资料" class='tui'
                           style="text-decoration:underline;"><?php echo session("adminName") ;?></a><span>-</span>
                        <a target="_top" href="{:U('Access/Logout')}" id="outhome" title="退出"
                           class='tui'>退出</a><span>|</span>
                        <a href="javascript:;" onclick="kzqie($(this))" title="切换到窄版">窄版</a>
                    </div>
                    <div class="langs">
                        <div class="langtxt">
                            <div class="langkkkbox">
                                <div id="langcig">
                                    <span id="langcion" title="cn">简体中文</span>
                                    <span class="langqie">语言设置</span>
                                </div>
                                <div class="langlist shadow" style="display:none;"></div>
                            </div>
                            <div class="webyy">网站语言：</div>
                        </div>
                    </div>
                </div>
                <div class="nav">
                    <ul id="topnav">
                        <li id="metnav_3" class="list">
                            <a href="javascript:;" id="nav_3" hidefocus="true">
                                <span class="c3"></span>
                                系统内容管理
                            </a>
                        </li>
                        <li id="metnav_5" class="list">
                            <a href="javascript:;" id="nav_5" hidefocus="true">
                                <span class="c5"></span>
                                后台管理
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="floatl">
            <a href="#" hidefocus="true" id="met_logo"><img src="__PUBLIC__/Admin/images/logoen.gif"
                                                            alt="MetInfo企业网站管理系统" title="MetInfo企业网站管理系统"
                                                            style="width:140px; margin-top:10px;"/></a>
        </div>
    </div>

    <div id="content">
        <div class="floatl" id="metleft">
            <div class="fast">
                <a href="#" id="qthome" title="网站首页">网站首页</a>
                <span></span>
                <a href="#" id="hthome" title="后台首页">后台首页</a>
            </div>
            <div class="nav_list" id="leftnav">
                <ul style="display:none;" id="ul_3">
                    <li><a href="{:U('News/index')}" target='main' id='nav_6_44' title="添加综合信息"
                           hidefocus="true">添加综合信息</a></li>
                    <li><a href="{:U('News/newslist?type=0')}" target='main' id='nav_6_43' title="综合信息"
                           hidefocus="true">个人形象&婚恋教育管理</a></li>
                    <li><a href="{:U('News/newslist?type=1')}" target='main' id='nav_6_43' title="综合信息"
                           hidefocus="true">爱在旅途管理</a></li>
                    <li><a href="{:U('News/newslist?type=2')}" target='main' id='nav_6_43' title="综合信息"
                           hidefocus="true">个性娱乐节目管理</a></li>
                    <li><a href="{:U('News/newslist?type=3')}" target='main' id='nav_6_43' title="马尔代夫恋管理"
                           hidefocus="true">马尔代夫恋管理</a></li>
                    <li><a href="{:U('News/addother?nid=1')}" target='main' id='nav_6_43' title="企业介绍管理"
                           hidefocus="true">企业介绍管理</a></li>
                    <li><a href="{:U('News/addother?nid=2')}" target='main' id='nav_6_43' title="会员条款管理"
                           hidefocus="true">会员条款管理</a></li>
                    <li><a href="{:U('News/addother?nid=3')}" target='main' id='nav_6_43' title="常见问题管理"
                           hidefocus="true">常见问题管理</a></li>
                    <li><a href="{:U('News/addother?nid=4')}" target='main' id='nav_6_43' title="征婚提醒管理"
                           hidefocus="true">征婚提醒管理</a></li>
                </ul>
                <ul style="display:none;" id="ul_5">
                    <li><a href="{:U('Admin/index')}" target='main' id='nav_5_34' title="后台管理"
                           hidefocus="true">管理员列表</a></li>
                    <li><a href="{:U('Admin/add')}" target='main' id='nav_5_35' title="管理员列表" hidefocus="true">添加管理员</a>
                    </li>
                     <li ><a href="{:U('Lovetype/index')}" target='main' id='nav_5_34' title="用户列表" hidefocus="true">偏爱精选分类</a></li>
                    <li ><a href="{:U('Lovetype/add')}" target='main' id='nav_5_35' title="添加用户" hidefocus="true">偏爱精选分类添加</a></li>
                    <li><a href="{:U('User/index')}" target='main' id='nav_5_35' title="搜索用户" hidefocus="true">用户列表</a>
                    </li>
                    <li><a href="{:U('Video/add')}" target='main' id='nav_5_35' title="用户配对" hidefocus="true">视频上传</a>
                    </li>
                    <li><a href="{:U('Userpd/add')}" target='main' id='nav_5_35' title="用户配对添加"
                           hidefocus="true">配对用户添加</a></li>
                    <li><a href="{:U('Voteht/add')}" target='main' id='nav_6_44' title="添加投票" hidefocus="true">添加投票</a>
                    </li>
                    <li><a href="{:U('Voteht/info_list')}" target='main' id='nav_6_44' title="投票列表" hidefocus="true">投票列表</a>
                    </li>
                </ul>
                <ul style="display:none;" id="ul_6">
                    <li><a href="{:U('Lunbo/index')}" target='main' id='nav_6_44' title="添加店铺分类"
                           hidefocus="true">轮播图添加</a></li>
                    <li><a href="{:U('Lunbo/lun')}" target='main' id='nav_6_43' title="添加店铺" hidefocus="true">轮播图列表</a>
                    </li>
                    <li><a href="{:U('Lunbo/denglu')}" target='main' id='nav_6_44' title="添加店铺分类"
                           hidefocus="true">登录背景图</a></li>
                    <li><a href="{:U('Shop/guanyu')}" target='main' id='nav_6_44' title="添加店铺分类"
                           hidefocus="true">信息提示说明</a></li>
                </ul>
                <ul style="display:none;" id="ul_7">
                    <li><a href="{:U('Wesucc/index1')}" target='main' id='nav_6_43' title="添加店铺"
                           hidefocus="true">园区简介</a></li>
                    <li><a href="{:U('Wesucc/index')}" target='main' id='nav_6_43' title="添加店铺"
                           hidefocus="true">景区简介</a></li>
                    <li><a href="{:U('Wesucc/exsucclist')}" target='main' id='nav_6_43' title="添加店铺" hidefocus="true">景区简介列表</a>
                    </li>
                    <li><a href="{:U('Shop/hezuo')}" target='main' id='nav_6_43' title="添加店铺"
                           hidefocus="true">地理位置说明</a></li>
                </ul>
            </div>
            <div class="clear"></div>
            <div class="left_footer">感谢使用
                <a href="#" target="_blank">Yxkj</a>
                <span class="none">Powered by &copy;2008-2013 &nbsp;<a href="#" target="_blank">Yxkj Inc.</a></span>
            </div>
        </div>
        <div class="floatr" id="metright">
            <div class="iframe">
                <div class="min">
                    <iframe frameborder="0" id="main" name="main" src="{:U('News/index')}" scrolling="no"></iframe>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<script src="__PUBLIC__/Admin/images/metinfo.js" type="text/javascript"></script>
</body>
</html>
