
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>偏爱婚恋--注册</title>
		<meta name="Keywords" content="" />
        <meta name="Description" content=""/>
		
		<link type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/style.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css"/>
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/webUploads/css/webuploader.css">
		<script src="__PUBLIC__/Home/js/jquery-1.8.3.js"></script>
	</head>
	<body>
		
	<div class="top_title">
	<ul>
		<a href="{:U('Index/index')}">
			<li><img src="__PUBLIC__/Home/image/logo.png" class="logo"></li>	
		</a>	
	
		<li class="right">
			<img src="__PUBLIC__/Home/image/qr_code.png"/>
			<span>扫一扫关注偏爱<br/>微信公众号</span>
			<div class="clearfix"></div>
		</li>
	
	<div class="clearfix"></div>
	</ul>
</div>	