<include file="public/head2" />
	</ul>
</div>	
		
			
			<div class="main-box1">
			<div class="main-left">
		
				<ul class="main-member">
				 <volist name="user" id="vo">
					<li>
					
						
						  	<embed src="__PUBLIC__/Uploads/vcr/{$vo['vcrpath']}" type="audio/x-pn-realaudio-plugin" console="Clip1" controls="ControlPanel,StatusBar" height="330" width="250" autostart="true">
						  		<a href="{:U('Userinfo/index',array('uid'=>$vo['id']))}">
							<div class="name_title">
								<h1>{$vo['nickname']}</h1>
								<img src="__PUBLIC__/Home/image/img01_06.png"/>
								<span>v2</span>
								<div class="clearfix"></div>
							</div>
							
							<p>会员号：100{$vo['id']}</p>
                            <p style=" padding: 5px 0 10px;">{$vo['agenow']}岁    {$vo['wordad']}    {$vo['marriage']}</p>
                            <p style="padding: 10px 0 20px; border-top: 1px dashed #D9D9D9;">自我介绍：{$vo['intro']|mb_substr=###,0,9,'utf-8'}...</p>
                           
                          <div class="member_button">
                          	<img src="__PUBLIC__/Home/image/img01_30.png"/>
                          	<span id="likeit" data-id="{$vo['id']}">暗恋她</span>
                          </div> 
					  			</a>
					</li>
			     </volist>
					<div class="clearfix"></div>
				</ul>
								
			</div>
		

	</div>
	
			<div class="page">{$page}</div>
<include file="public/foot" />
<script type='text/javascript'>
	(function(){
		 new PopUp_api({el:'.s-jubao',html:'.ddd'});	 
	})()



	
	$("#likeit").click(
 		function(){
 			var _this = $(this);
 			var id = $(this).attr('data-id');
 			alert(id+"sssdf");
 			var url="{:U('User/likeit')}";
 			// if(confirm('删除后不可恢复,您确认要删除吗？')){
 			// 	$.ajax({
 			// 		type : 'post',
 			// 		data : "id="+id,
 			// 		url  : url,
 			// 		dataType : 'json',
 			// 		success : function(msg){
 			// 			if(msg == 1){
 			// 				alert('删除成功！');
 			// 				_this.parent().parent('tr').remove();
 			// 			}else{
 			// 				alert(msg.error);
 			// 			}
 			// 		}
 			// 	});
 			// }	
 		}
 	);
</script>
