
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/images/metinfo.css" />
<link rel="stylesheet" href="__PUBLIC__/Admin/kindeditor-4.1.10/themes/default/default.css" />
	<link rel="stylesheet" href="__PUBLIC__/Admin/kindeditor-4.1.10/plugins/code/prettify.css" />
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor-4.1.10/kindeditor.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor-4.1.10/lang/zh_CN.js"></script>
	<script charset="utf-8" src="__PUBLIC__/Admin/kindeditor-4.1.10/plugins/code/prettify.js"></script>
	<script>
		KindEditor.ready(function(K) {
			var editor1 = K.create('textarea[name="editor01"]', {
				cssPath : '__PUBLIC__/Admin/kindeditor-4.1.10/plugins/code/prettify.css',
				uploadJson : '__PUBLIC__/Admin/kindeditor-4.1.10/php/upload_json.php',
				fileManagerJson : '__PUBLIC__/Admin/kindeditor-4.1.10/php/file_manager_json.php',
				allowFileManager : true,
				afterCreate : function() {
					var self = this;
					K.ctrl(document, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
					K.ctrl(self.edit.doc, 13, function() {
						self.sync();
						K('form[name=example]')[0].submit();
					});
				}
			});
			prettyPrint();
		});
	</script>
</head>

<body>

	<div class="metinfotop">
	<div class="position">简体中文：店铺管理 > <a href="{:U('News/edit')}">修改店铺</a></div>
	</div>
	<div class="clear"></div>


<div class="stat_list">
	<ul>
		<li class="now"><a href="#" title="基本信息">基本信息</a></li>
	    <li class="now"><a href="#" title="商铺列表">内容添加</a></li>
	</ul>
</div>
<form method="POST" name="myform" enctype="multipart/form-data" action="{:U('News/addother')}" target="_self">

<table cellpadding="2" cellspacing="1" class="table">


    <tr> 
        <td class="text"><span class="bi_tian">*</span>类型：</td>
        <td class="input">
        
			
		
		
		
		
	        <switch name="datas['nid']" >
    <case value="1" ><input name="nid" type="radio"  value="1" id="other1" checked />企业介绍&nbsp;&nbsp;&nbsp;</case>
    <case value="2"><input name="nid" type="radio"  value="2" id="other2" checked/>会员条款&nbsp;&nbsp;&nbsp;</case>
    <case value="3"><input name="nidnid" type="radio"  value="3" id="other3" checked/>常见问题&nbsp;&nbsp;&nbsp;</case>
    
    <case value="4"><input name="nid" type="radio"  value="4" id="other4" checked/>征婚提醒&nbsp;&nbsp;&nbsp;</case>
    
 
    </switch>
		</td>
    </tr>
 
    
    <tr>
      <td class="text"><span class="bi_tian">*</span>内容：</td>
      <td colspan="2" class="text">
			<textarea name="editor01" style="width:800px;height:300px;">
            {$datas.intro}
			</textarea>		
		</td>
    </tr> 	
	<tr> 
        <td class="text"></td>
	    <td class="submit">
		<input type="submit" name="submit1" value="添加" class="submit" onclick="return Smit($(this),'myform')" />		</td>
    </tr>
  </table>
</form>

</body>
</html>

