
		
<div class="remind_box">
	<div class="remind_title">
		
	
	<h1>偏爱婚恋网会员条款</h1>
	
<h3>　　感谢您申请成为偏爱婚恋网征婚会员，偏爱婚恋网是浙江都市网(www.ZJ.com)倾力打造的真实、有效的大型征婚网站，您在发布您的征婚信息前请确认您符合偏爱婚恋网的信息登记基本条件，若您是代友人发布征婚信息，则必须征得朋友的同意并提交征婚者本人的资料，同时您的朋友也必须符合偏爱婚恋网的信息登记基本条件。</p>


</div>

</div>



		<div class="main">
			<div class="main-box1">
			
				<div class="main-left"><!--left-->
					<div class="s-address">当前位置：帮助中心&gt;会员条款</div>
					<div class="safty">
						<div class="list-main1-rcon">
			    	<ul>
          <li>
            	<h1>【注册会员的基本要求】</h1>
                
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1. 必须以爱情或婚姻为目的；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2. 必须是独身状态（未婚、离异或丧偶）；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3. 必须年满18周岁；</p>
            </li>

                <li style=" border:none;">
            	<h1>【注册会员资料，必须如实填写自己的资料，不得发布虚假信息】</h1>
                
                <p>用户的帐号、密码和安全性您一旦注册成功成为用户，您将有一个属于自己帐号和密码。如果您未保管好自己的帐号和密码而对您造成的损失，偏爱婚恋网概不承担责任。另外，每个用户都要对其帐户中的所有活动和事件负全责。您可随时改变您的密码，也可以结束旧的帐户重开一个新帐户，但不允许同时注册两个帐户。   </p>
　　
				<p>会员必须遵守中华人民共和国法律法规和社会公德，不得在偏爱婚恋网散布违背政策法令或有违社会公德的信息内容。 禁止在网站内公布或传送任何诽谤、侮辱、不雅的信息内容，包括脏话和色情文字（包括照片）。 禁止蓄意骚扰、诽谤、污辱、非法威胁、或恐吓其他会员，尤其是那些已对您明确表明不希望再继续跟您联系的会员。 严禁通过偏爱婚恋网利用各种方式进行各类钱财诈骗活动，一经发现，偏爱婚恋网将通报公安机关。</p>
　　
				<p>会员向偏爱婚恋网提供的本人的真实身份证明材料(包括照片)，无论是原件、复印件还是电子格式的文件，必须是真实有效的，不得伪造、涂改或使用假冒材料。</p>
　　
				<p>会员不得在偏爱婚恋网上发送或发布未经许可的广告或推销信息内容，不得发布与会员本人征婚目的无关的信息内容。 会员不得私下组织各类会员聚会活动，不能私设QQ群。</p>
            </li>
        
    	</ul>
			    </div>
					</div>
					
				</div><!--left-->
			</div>
			
		</div>
		



		
		  <script>
        $(".css3-animated-example").collapse({
          accordion: true,
          open: function() {
            this.addClass("open");
            this.css({ height: this.children().outerHeight() });
          },
          close: function() {
            this.css({ height: "0px" });
            this.removeClass("open");
          }
        });
      </script>
