
		
<div class="remind_box">
	<div class="remind_title">
		
	
	<h1>偏爱婚恋网网络征婚提醒</h1>
	<h2>偏爱婚恋网诚力打造严肃交友环境，坚决禁止</h2>
<p>1. 谎报个人信息，如夸大学历、收入、身高，隐瞒婚史，张贴虚假照片等。</p>
<p>2. 交友动机不纯，寻找一夜情、婚外恋、聊友以及商业伙伴等；</p>
<p>2. 骗取他人钱财，骗婚。</p>
<p>4. 以任何形式骗取会员信任开展非法组织活动。</p>

</div>
</div>

		<div class="main">
			<div class="main-box1">
			
				<div class="main-left"><!--left-->
					<div class="s-address">当前位置：帮助中心&gt;征婚提醒</div>
					<div class="safty">
						<div class="list-main1-rcon">
			    	<ul>
          <li>
            	<h1>【增强隐私信息的保护意识】</h1>
                
                <p>　　填写注册信息时，您所注册的个人隐私信息，是受到中国红娘信息保护的，我们绝不会公开您的个人隐私，例如手机号码、家庭地址、工作单位等。为了安全考虑，您在交友过程中必须要增强隐私信息的保护意识，不要随意泄漏您的任何真实的隐私信息，以免给您的生活和工作带来不愉快。 　　
真实姓名、住宅电话、手机号码、办公电话、家庭住址、公司名称，银行卡号等，这些信息都是可能让他人直接找到您或能对您的生活造成影响的。在充分了解和信任对方之前，请您务必要加强警惕性。</p>        
               
            </li>

                <li>
            	<h1>【戒备多次索要您的私密信息的人】</h1>
                
                <p>　若有人三番五次索要您的私人通信方式，一味打听您的住址或单位，请您一定要保持冷静。切勿一时忘情就全盘托出。要理性分析，慎重对待，分情况对待。</p>        
               
            </li>
            
                <li>
            	<h1>【与人约见要谨慎】</h1>
                
                <p>　　通过一定时间的交流，会员与会员之间就会发出约见的信号。尽管中国红娘网站一再声明会员要遵守严肃交友的原则，不要蓄意欺骗，伤害他人，但我们仍然有义务提醒您，不要轻易接受会员的约会，除非您与对方已经有了相当长时间的认识和交流，并且对其情况有了一定的信任感。</p>　　
				<p>		对于那些对约会有充分信心，想与对方做进一步了解或发展的会员，我们还是得提醒约会四点：</p>
　　
	<p>1. 约会之前尽量多沟通，多交流，并且选择自己熟悉的约会地点和合适的约会时间。我们建议您选择公共场所约会，并提前告知自己的朋友和家人自己的去向；</p> 
　　<p>2. 把握好约会时间，不深夜赴约，坚持自己回家；</p> 
　　<p>3. 约会时候察言观色。一个人的品行修养往往会通过他的神态和动作表露出来。大部分情况下，一个初中毕业的人，是不会有本科生的气质和学识的。</p> 
　　<p>4. 在与人面对面交流中，也请保护好手机号码和随身财物，不要被对方知道号码或欺骗性借用；看管好身份证；不要在言谈话语中随意说出自己的电话号码、真实住址、公司等信息。</p>        
               
            </li>
    	</ul>
			    </div>
					</div>
					
				</div><!--left-->
			</div>
			
		</div>
		



		
		
		  <script>
        $(".css3-animated-example").collapse({
          accordion: true,
          open: function() {
            this.addClass("open");
            this.css({ height: this.children().outerHeight() });
          },
          close: function() {
            this.css({ height: "0px" });
            this.removeClass("open");
          }
        });
      </script>
