
		
		<div class="main">
			<div class="main-box1">
				
				
				<div class="main-left"><!--left-->
					<div class="s-address">当前位置：<a href="">首页 </a>&gt; 个人形象
					&婚恋教育</div>
					<ul class="success">
						<li>
							<a href="" class="success-pic"><img src="__PUBLIC__/Home/image/1.jpg"></a>
							<div class="success-text">
            	               <a href="">【我在这遇到了人生的另一半】</a>
                               <h5>时间：2015-8-18<span style="color: #bbb;">|</span>来源：南昌万家囍婚恋交友网</h5>
                               <p> 我们要求所有会员必须是南昌地区（南昌市及周边四县）本地人，成为会员前必须提交详细而真实的资料，不提交资料就不能注册，哪怕因此短时间会员数量可能无法快速增长，我们也绝不做任何损害会员利益的事，良心企业看重的是长远的发展，那种随便就能注册的网站毫无社会责任感，是走不远的</p>        
                               <p><a href="" class="cf60">[查看详情]</a></p>
							</div>
						</li>
						<li>
							<a href="" class="success-pic"><img src="__PUBLIC__/Home/image/1.jpg"/></a>
							<div class="success-text">
            	               <a href="">【我在这遇到了人生的另一半】</a>
                               <h5>时间：2015-8-18<span style="color: #bbb;">|</span>来源：南昌万家囍婚恋交友网</h5>
                               <p> 我们要求所有会员必须是南昌地区（南昌市及周边四县）本地人，成为会员前必须提交详细而真实的资料，不提交资料就不能注册，哪怕因此短时间会员数量可能无法快速增长，我们也绝不做任何损害会员利益的事，良心企业看重的是长远的发展，那种随便就能注册的网站毫无社会责任感，是走不远的</p>        
                               <p><a href="" class="cf60">[查看详情]</a></p>
							</div>
						</li>
						<li>
							<a href="" class="success-pic"><img src="__PUBLIC__/Home/image/1.jpg"/></a>
							<div class="success-text">
            	               <a href="">【我在这遇到了人生的另一半】</a>
                               <h5>时间：2015-8-18<span style="color: #bbb;">|</span>来源：南昌万家囍婚恋交友网</h5>
                               <p> 我们要求所有会员必须是南昌地区（南昌市及周边四县）本地人，成为会员前必须提交详细而真实的资料，不提交资料就不能注册，哪怕因此短时间会员数量可能无法快速增长，我们也绝不做任何损害会员利益的事，良心企业看重的是长远的发展，那种随便就能注册的网站毫无社会责任感，是走不远的</p>        
                               <p><a href="" class="cf60">[查看详情]</a></p>
							</div>
						</li>
						<li>
							<a href="" class="success-pic"><img src="__PUBLIC__/Home/image/1.jpg"/></a>
							<div class="success-text">
            	               <a href="">【我在这遇到了人生的另一半】</a>
                               <h5>时间：2015-8-18<span style="color: #bbb;">|</span>来源：南昌万家囍婚恋交友网</h5>
                               <p> 我们要求所有会员必须是南昌地区（南昌市及周边四县）本地人，成为会员前必须提交详细而真实的资料，不提交资料就不能注册，哪怕因此短时间会员数量可能无法快速增长，我们也绝不做任何损害会员利益的事，良心企业看重的是长远的发展，那种随便就能注册的网站毫无社会责任感，是走不远的</p>        
                               <p><a href="" class="cf60">[查看详情]</a></p>
							</div>
						</li>
						<li>
							<a href="" class="success-pic"><img src="__PUBLIC__/Home/image/1.jpg"/></a>
							<div class="success-text">
            	               <a href="">【我在这遇到了人生的另一半】</a>
                               <h5>时间：2015-8-18<span style="color: #bbb;">|</span>来源：南昌万家囍婚恋交友网</h5>
                               <p> 我们要求所有会员必须是南昌地区（南昌市及周边四县）本地人，成为会员前必须提交详细而真实的资料，不提交资料就不能注册，哪怕因此短时间会员数量可能无法快速增长，我们也绝不做任何损害会员利益的事，良心企业看重的是长远的发展，那种随便就能注册的网站毫无社会责任感，是走不远的</p>        
                               <p><a href="" class="cf60">[查看详情]</a></p>
							</div>
						</li>
					</ul>
		
					
				</div><!--left-->
			</div>
			

		</div>
	
		<div class="page">
					<a href="" class="cur">1</a>
					<a href="">2</a>
					<a href="">3</a>
					<a href="">4</a>
					<a href="">5</a>
					<span>...</span>
					<a href="">24</a>
					<a href="">下一页</a>
					<a href="">末页</a>
				</div>
	


	
		  <script>
        $(".css3-animated-example").collapse({
          accordion: true,
          open: function() {
            this.addClass("open");
            this.css({ height: this.children().outerHeight() });
          },
          close: function() {
            this.css({ height: "0px" });
            this.removeClass("open");
          }
        });
      </script>

