<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="__PUBLIC__/Home/css1/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css1/app.css"/>
	</head>
	<body>
		<div class="mui-bar mui-bar-nav">
				<a href="javascript:history.go(-1)"  class=" mui-icon">
				<img src="__PUBLIC__/Home/image1/arrow.png"/ style=" width: 22px; margin-left: 10px;">
			</a>
			<h1 class="mui-title">关于我们</h1>
		</div>
		
		<div class="mui-content" style="margin-top: 60px; ">
			
				<div class="mui-content-padded">
				<h3>公司介绍</h3>
				
				<p>
					　偏爱婚恋 www.pahl.com　目前拥有包括运营、技术、编辑、红娘、客服在内的百余人的强大团队，目前网站会员注册量及访问量，
					均居华东地区前列。 感谢您申请成为偏爱婚恋网征婚会员，偏爱婚恋网是浙江都市网(www.ZJ.com)倾力打造的真实、有效的大型征婚网站，您在发布您的征婚信息前请确认您符合偏爱婚恋网的信息登记基本条件，若您是代友人发布征婚信息，则必须征得朋友的同意并提交征婚者本人的资料，
					同时您的朋友也必须符合偏爱婚恋网的信息登记基本条件。
				</p>
				
				<p>
					    “偏爱婚恋”是一个面向高素质单身人士的专业婚恋服务平台，在国内独家拥有“网盛生意宝”上市公司（股票代码：002095）的雄厚背景。自2006年2月14日“浙江红娘”成立以来，始终恪守“诚信服务”、“严肃交友”的原则，截至2013年6月底，我们一共举办大小活动400场，累计吸引活动人数超过30万。已有100000多单身男女通过偏爱婚恋找到了自己的幸福，并且每天有数千人通过我们的各项服务平台沟通、相亲、恋爱……
				
				</p>
				
				<p>
				　　“偏爱婚恋”新创了“在线服务与离线服务并重、新兴网络红娘与传统婚介互补、先进语音短信平台与互联网平台完美结合”的特色服务模式。目前，正配合地方政府全力打造“浙江省婚姻服务行业信息化公共服务平台”，以促进浙江省传统婚介行业的信息化改造与产业升级，为和谐社会的构建与生活品质的提升做不懈的努力
				</p>
			
		</div>
	</body>
	<script src="__PUBLIC__/Home/js1/mui.min.js"></script>
	<script>
		mui.init({
			swipeBack:true //启用右滑关闭功能
		});
	</script>
</html>