<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <style type="text/css">
    	.imgbg{
    		width:300px;
    		height:300px;
    	}
    </style>
</head>
<body>
<a href="javascript:history.go(-1)"  class=" mui-icon" style=" padding-top:8px;">
				<img src="__PUBLIC__/Home/image1/img05_02.png"/ style=" width: 30px;">
			</a>
			<br>
   

   <!--  <video  controls="controls" autoplay >
 
  <source src="__PUBLIC__/Uploads/vcr/{$video}" type="video/mp4">
 
    </video> -->
<video width="320" height="240" controls="controls">  
        <source src="__PUBLIC__/Uploads/vcr/{$video}" type="video/mp4" ></source>  
       
    </video>

    <!-- <video width="320" height="240" controls preload="auto"> <source src="__PUBLIC__/Uploads/vcr/{$video}" type="video/mp4">  </video> -->
    <!-- <video src="__PUBLIC__/Uploads/vcr/{$video}" controls="controls"> -->


</body>
</html>